body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align:center;
    color:darkblue;
}

h2{
    color:crimson;
}

p{
    font-size:16px;
    line-height:1.6;
}

hr{
    margin-top:20px;
    margin-bottom:20px;
}